04 Feb

In [1]:
#Q.1 
data = [('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

sorted_data = sorted(data, key=lambda x: x[1])

print(sorted_data)

[('Virat Kohli', 24936), ('Jack Kallis', 25534), ('Ricky Ponting', 27483), ('Sachin Tendulkar', 34357)]

In [2]:
#Q.2 
number= [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
sq_number=list(map(lambda x : x**2, number ))
print(sq_number)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [3]:
#Q.3
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

tuple_of_strings = tuple(map(lambda x: str(x), numbers))

print(tuple_of_strings)

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [6]:
#Q.4 

# Create a list of numbers from 1 to 25
numbers = list(range(1, 26))

# Define the product function
def product(x, y):
    return x * y

# Use the reduce function to compute the product of the list
result = reduce(product, numbers)

print(result)

15511210043330985984000000

In [9]:
#Q.5 
l1 = [2, 3, 6, 9, 27, 60, 90, 120, 55, 46]
list(filter(lambda x : x%2 ==0 and x%3 ==0, l1))

[6, 60, 90, 120]

In [10]:
#Q.6 
strings = ['python', 'php', 'aba', 'radar', 'level']

palindromes = list(filter(lambda s: s == s[::-1], strings))

print(palindromes)

['php', 'aba', 'radar', 'level']